body{
  margin: 10px 10px 0px 10px;
  padding: 0px;
  background-color: #dedfda;
}

header{
  height: 50px;
  background-color: #013832;
  padding: 20px;
  font-family: Freehand521 BT;
}


img.Logo{
  float: right;
  width: 60px;
  height: 60px;
}

h1{
  color: #dedfda;
}

h2{
  color: #013832;
  margin: 20px;
  padding-top: 20px;
  text-align: center;

}

h3{
  font-size: 70px;
  color: #013832;
  font-family: monospace;
  margin: 30px;
  padding: 10px;
}

h5{
  font-size: 60px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: #013832;
  border-bottom: 5px solid #013832;
}

section{
  background-color: #b0bb9b;
  text-overflow: none;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

#front{
  width: 100%;;
}

article{

}

aside{
 width: 600px;
 float: right;
}

nav{
  font-family: bahnschrift;
}

#eldanya{
  width: 1000px;
}

p{
  margin: 10px;
  float: left;
}

#icon{
  width: 300px;
}

#mini{
  position: absolute;
  width: 200px;
}

fieldset{
  background-color: #b0bb9b;
  border-width: 5px;
  color: #013832;
  border-color:  #013832;
  font-size: 30px;
}

legend{
  color: #013832;
  padding: 5px 10px;
  font-size: 60px;
}

span{
  color: #013832;
  font-family: sans-serif;
}

div{
  background-color:  #dedfda;
}

input{
  margin: 5px;
}

div.gallery {
margin: 5px;
border: 1px solid #ccc;
width: 33%;
}

div.gallery:hover {
border: 1px solid #777;
}

div.gallery img {
width: 100%;
height: auto;
}

div.desc {
padding: 15px;
text-align: center;
}

ul li{
  display: flex;
}

ul{
  list-style-type: none;
  margin:0px;
  padding:0px;
  overflow:hidden;
  background-color: #387b5c;
}

li{
  float: right;
}

li a{
  display: block;
  color: #b0bb9b;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
}

li a:hover{
  background-color: #b0bb9b;
}

.active {
  background-color: #c56a19;
}

a:link{
  color: #ff8164;
  text-decoration: none;
}

a:visited{
  color: #b0bb9b;
}

a:hover{
  color: white;
}

#logofooter{
  float: right;
}

footer{
  padding: 20px;
  color: #dedfda;
  background-color: #013832;
}
